Source: temp-humidity
Maintainer: Dave Sieh <davesieh@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)

Package: temp-humidity
Architecture: all
Depends: ruby, ${misc:Depends}
Description: GUI application to capture and display temperature values
  It will capture and display temperature and humidity values.